body {
  font-family: "Cinzel", serif;

  margin: 80px auto;
  padding-bottom: 30px;
  max-width: 550px;

  color: #131925;
}

.container {
  border-color: #a8b2bd;
  border: 1px solid;
  border-radius: 10px;

  padding-bottom: 10px;
  background-color: #c2d5db;
}

section {
  margin: 10px auto;
  padding: 0px 10px;
  word-wrap: break-word;
}

h1 {
  font-size: 28px;
  text-align: justify;
}

h2 {
  text-align: justify;
  font-size: 40px;
}

h3 {
  font-size: 12px;
  padding-bottom: 10px;

  position: relative;
  top: 10px;
  left: 10px;
}

h5 {
  text-align: center;
  font-size: 18px;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin-left: 0px;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
  line-height: 2;
}

li:hover {
  background-color: #c5ccd4;
  border-color: #131925;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}

a,
a:hover {
  color: #131925;
  text-decoration: none;
  cursor: default;
}

.convert {
  color: #8b8180;
}

.convert:hover {
  text-decoration: underline;
  color: #8b8180;
  cursor: default;
}

#dateTime {
  color: #8b8180;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  position: relative;
  top: 7px;
  left: 3px;
}

.searchBar {
  text-align: left;
  position: relative;
  top: 10px;
}

.forecast {
  position: relative;
  top: 34px;
}

.units {
  font-size: 15px;
  position: relative;
  bottom: 16px;
  display: inline-block;
}

.moreInfo {
  text-align: justify;
  font-size: 12px;
  line-height: 2;
}

.standardInfo {
  position: relative;
  top: 22px;
}

#description {
  font-size: 18px;
  font-weight: bold;
}

.forecastIcon {
  position: relative;
  top: 20px;
}
